<h1><FONT COLOR="F0FFFF">About me</FONT></h1>
<hr class="featurette-divider">
<img src="https://pbs.twimg.com/profile_images/555212787987652608/0vu-z1yH.png" height = "200" width = "200"
align="left">
<p><FONT COLOR="F0FFFF">&nbsp;&nbsp;My name is Tarush Sinha. I am currently pursuing a Bachelors in Computer Science and working towards a double major in Business at the &nbsp;&nbsp;University of Maryland, College Park, MD.<br><br>&nbsp;&nbsp;I have a strong international background; having lived in Southeast Asia and the United States. I have demonstrated leadership skills and have &nbsp;&nbsp;excellent communication skills. I am trilingual in English, Mandarin, and Hindi & have proven my ability to work in a multi-cultural environment.<br><br>&nbsp;&nbsp;I am currently building this site as part of the OneMonth Rails course to learn Ruby on Rails. My other coding background is in Java, MySQL, &nbsp;&nbsp;Javascript, and HTML.
	<br>&nbsp;&nbsp;<FONT COLOR="F0FFFF">Need to get in touch?
	Contact me at:
	<button type="button" class="btn btn-success btn-sm">tarush[@]terpmail.umd.edu</button>
	or via
	</FONT><%= link_to "LinkedIn", "https://www.linkedin.com/pub/tarush-sinha/71/758/807", class: "btn btn-success btn-sm" %></p>



<!--This is Under Construction Message-->
<!--<div class= "alert alert-danger" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Sorry!</strong> This page is currently under construction
</div>
<br>
<br>
<p><%= link_to "Return to Home Page", root_path %></p>-->