<h1>About me</h1>
<div class= "alert alert-danger" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Sorry!</strong> This page is currently under construction
</div>
<br>
<br>
<p><%= link_to "Return to Home Page", root_path %></p>