<div class="jumbotron">
	<div class="container">
	  <h1>Welcome to Pinteresting!</h1>
		<p>Click here to <%= link_to "Sign Up", "http://google.com", class: "btn btn-success btn-lg" %></p>
  </div>
</div>