<div class="jumbotron">
	<div class="container">
	  <h1>Welcome to Pinteresting!</h1>
		<p>Click here to <%= link_to "Sign Up", "http://google.com", class: "btn btn-success btn-lg" %></p>
  </div>
</div>

<div class= "alert alert-danger" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Sorry!</strong> This page is currently still under construction
</div>
