<div class="jumbotron center">
	<div class="container">
	  <h1>Welcome to Pinteresting!</h1>
		<p>
			<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
		</p>
  </div>
</div>

<div class= "alert alert-danger" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Sorry!</strong> This page is currently still under construction
</div>
