<div id="carousel-example-generic" class="carousel slide container" style="height: 580px; width: 900px; margin: 0 auto" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active" data-interval="400"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="carousel slide" data-interval="400"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class="carousel slide" data-interval="400"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/524673_10151344306833798_1068282099_n.jpg?oh=47627858afa7b74bfdd23a47aa7d2c79&oe=55344D50" alt="...">
    </div>
    <div class="item">
      <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/1415038_10152799407668798_2251493214651735421_o.jpg" alt="...">
    </div>
    <div class="item">
      <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xpa1/t31.0-8/1913468_10152269328418798_633938166_o.jpg" alt="...">
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  </a>
</div> <!-- Carousel -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<hr class="featurette-divider">
<img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xfa1/t31.0-8/1965538_10152269328463798_2068535706_o.jpg" height = "359" width = "540">
&nbsp;
<img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1537669_10152269328443798_868951777_o.jpg" height = "359" width = "550">
<br><br>
&nbsp;&nbsp;<img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-xfp1/t31.0-8/1781652_10152714542143798_8976052217984081329_o.jpg" height = "358.5" width = "525.5">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xfp1/t31.0-8/740051_10152089221253798_652448373_o.jpg" height = "359" width = "538.5">
<br><br>
<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/1534738_10152089220318798_2089608056_o.jpg" height = "359" width = "538.5">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-xfp1/t31.0-8/1009040_10152153609468798_45555228_o.jpg" height = "359" width = "540">
<hr class="featurette-divider">
<center><%= link_to "Click here to view more of my photos", "https://www.flickr.com/photos/93022604@N05/", class: "btn btn-success btn-lg" %></center>
<br><br>

